@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(0.9584 0.0212 100.9882);
  --foreground: oklch(0.3409 0.0349 94.0489);
  --card: oklch(0.9584 0.0212 100.9882);
  --card-foreground: oklch(0.2174 0.0019 106.5582);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2672 0.0262 98.2301);
  --primary: oklch(0.6204 0.1918 37.2870);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8980 0.0266 90.1099);
  --secondary-foreground: oklch(0.4259 0.0241 97.9236);
  --muted: oklch(0.9102 0.0305 90.3375);
  --muted-foreground: oklch(0.5853 0.0091 98.9792);
  --accent: oklch(0.8980 0.0266 90.1099);
  --accent-foreground: oklch(0.2672 0.0262 98.2301);
  --destructive: oklch(0.2174 0.0019 106.5582);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8559 0.0123 101.5125);
  --input: oklch(0.7419 0.0254 99.2264);
  --ring: oklch(0.5902 0.2015 256.0022);
  --chart-1: oklch(0.5604 0.1639 40.3444);
  --chart-2: oklch(0.6296 0.2118 287.6613);
  --chart-3: oklch(0.8659 0.0478 93.9357);
  --chart-4: oklch(0.8206 0.0805 296.6532);
  --chart-5: oklch(0.5646 0.1721 39.1584);
  --sidebar: oklch(0.9406 0.0200 100.5909);
  --sidebar-foreground: oklch(0.3506 0.0085 106.8288);
  --sidebar-primary: oklch(0.6204 0.1918 37.2870);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.8980 0.0266 90.1099);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 2px 4px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 4px 6px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 8px 10px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.2596 0.0037 106.6523);
  --foreground: oklch(0.7831 0.0232 89.8257);
  --card: oklch(0.2596 0.0037 106.6523);
  --card-foreground: oklch(0.9584 0.0212 100.9882);
  --popover: oklch(0.3004 0.0035 106.6106);
  --popover-foreground: oklch(0.8925 0.0094 106.5892);
  --primary: oklch(0.6690 0.1910 37.6936);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9584 0.0212 100.9882);
  --secondary-foreground: oklch(0.3004 0.0035 106.6106);
  --muted: oklch(0.2174 0.0019 106.5582);
  --muted-foreground: oklch(0.7512 0.0267 99.6493);
  --accent: oklch(0.2254 0.0113 99.4186);
  --accent-foreground: oklch(0.9406 0.0200 100.5909);
  --destructive: oklch(0.6398 0.2458 27.8674);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3535 0.0135 107.0686);
  --input: oklch(0.4226 0.0163 97.7361);
  --ring: oklch(0.5902 0.2015 256.0022);
  --chart-1: oklch(0.5604 0.1639 40.3444);
  --chart-2: oklch(0.6296 0.2118 287.6613);
  --chart-3: oklch(0.2254 0.0113 99.4186);
  --chart-4: oklch(0.2845 0.0697 288.2120);
  --chart-5: oklch(0.5646 0.1721 39.1584);
  --sidebar: oklch(0.2276 0.0015 17.2703);
  --sidebar-foreground: oklch(0.7831 0.0232 89.8257);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2210 0.0057 106.8574);
  --sidebar-accent-foreground: oklch(0.7831 0.0232 89.8257);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 2px 4px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 4px 6px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0 8px 10px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}